__pycache__/
env-anemll/
anemll-swift-cli/.build/
lib/
bin/
share/
./*.logs/  # logs / test results
evaluate/results/
results/
# macOS system files
.DS_Store

# Backup files
*.bk
*.backup

# Xcode and Swift Package Manager
.swiftpm/
xcuserdata/
*.xcuserstate
*.xcworkspacexcuserdata/
=*
